/* 
    Used fonts
    1. font-family: 'Roboto', sans-serif; 
    2. font-family: 'Roboto Condensed', sans-serif;
*/

* {
    box-sizing: border-box;
}

*::selection {
    /* color: white; */
    background: #ccc;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    /* background: #f2f2f2; */
}

h1,
h2,
label {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

p {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.mt-fit {
    margin-top: 3em;
}


/* header */
header {
    width: 100%;
    text-align: center;
    padding: 2em 0;
    background: #fff;
    border-bottom: 1px solid #ccc;
    margin-top: 5em;
}

@media only screen and (min-width: 768px) {
    header {
        position: sticky;
        top: 0;
    }
}

/* section */
section {
    width: 100%;
    padding: 4em 10em;
    counter-reset: my-sec-counter;
}

section h2::first-letter {
    font-size: 1.3em;
}

section h2::before {
    counter-increment: my-sec-counter;
    content: counter(my-sec-counter) ". ";
}

/* section h2::after {
    content: ' :';
} */

section .content,
section .content-2 {
    width: 100%;
}

section .content {
    margin: 2em;
}

section .content p,
section .content-2 {
    word-spacing: 10px;
    text-align: justify;
}

section .content-2 {
    display: flex;
    align-items: center;
}

section .content-2 div {
    width: 50%;
    padding: 2em;
}

section .content-2 div img {
    width: 100%;
    border: 3px solid #ccc;
    padding: 3px;
}



/* footer */

footer {
    width: 100%;
    padding: 3.4em 0;
}

footer h1 {
    text-align: center;
}

footer form {
    width: 40%;
    margin: 0 auto;
    padding: 1.3em 0;
    display: flex;
    flex-wrap: wrap;
}

footer form div.input-grp,
footer form div.input-grp-50 {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

footer form div.input-grp {
    width: 100%;
}

footer form div.input-grp-50 {
    width: 50%;
}

footer form div.input-grp-radio {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
}

footer form div.input-grp-radio div {
    width: 33%;
    display: flex;
    align-items: center;
}
footer form div.input-grp-radio div input {
    width: 20px;
    height: 20px;
}
footer form div.input-grp-radio div label {
    margin-top: 6px;
     margin-left: 5px;
}

footer form div label {
    font-size: 18px;
}

footer form div input,
footer form div select {
    margin-top: 6px;
    border: 1px solid #000;
    padding: 7px 10px;
    border-radius: 3px;
    font-size: 15px;
    height: 40px;
}

footer form div input:focus,
footer form div select:focus {
    outline: none;
    border: 1px solid #ccc;
}

footer form button {
    border: 1px solid #000;
    background: inherit;
    border-radius: 3px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
    padding: 0 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-top: 20px;
    transition: 0.2s;
    transition-timing-function: linear;
}

footer form button:hover {
    background: #000;
    color: #fff;
}